# Ignore pretrained FastText vectors
*.vec
*.gensim.model
*.gensim.model.vectors.npy

# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# Folders
/uploads/
/results/